<!--'Fredoka One', cursive-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<!--'Satoshi', sans-serif-->
<link href="https://api.fontshare.com/v2/css?f[]=satoshi@500,400&display=swap" rel="stylesheet">

<!--'Jetbrains Mono', monospace-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

<!--''-->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<!--<style>-->
<!--    @font-face {-->
<!--        font-family: "NewcastleHELLO";-->
<!--        src: url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.woff2") format("woff2");-->
<!--        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.woff") format("woff");-->
<!--        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.eot?#iefix") format("embedded-opentype"),-->
<!--        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.ttf") format("truetype"),-->
<!--        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.svg#NewcastleW00-BasicClean") format("svg");-->
<!--    }-->
<!--</style>-->
