<!--<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<link href="//db.onlinewebfonts.com/c/ea4d7dad5fa3b83acdb0b3cb89b057bd?family=Newcastle+W00+Basic+Clean" rel="stylesheet" type="text/css"/>

<style>
    @font-face {
        font-family: "NewcastleHELLO";
        src: url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.woff2") format("woff2");
        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.woff") format("woff");
        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.eot?#iefix") format("embedded-opentype"),
        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.ttf") format("truetype"),
        url("//https://db.onlinewebfonts.com/t/ea4d7dad5fa3b83acdb0b3cb89b057bd.svg#NewcastleW00-BasicClean") format("svg");
    }
</style>

<!--<style>-->
<!--    @font-face {-->
<!--        font-family: 'Newcastle', sans-serif;-->
<!--        url('newcastle.woff2') format('woff2'),-->
<!--        url('newcastle.woff') format('woff'),-->
<!--        url('newcastle.ttf') format('truetype')-->
<!--        font-weight: normal;-->
<!--        font-style: normal;-->
<!--    }-->
<!--</style>-->
