<!--<style>-->
<!--    @font-face {-->
<!--        font-family: 'Newcastle';-->
<!--        src: url(../../_fonts/newcastle.ttf) format('truetype');-->
<!--        font-weight: normal;-->
<!--        font-style: normal;-->
<!--    }-->
<!--</style>-->

<!--<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
